@{
    ViewData["Title"] = "Home Page";
}
@model List<MVCProject.Models.NhanVien>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol >
        <li ><a href="/Staff/index">QUẢN LÝ NHÂN VIÊN</a></li>
        <li><a href="/Staff/report">THỐNG KÊ NHÂN  VIÊN</a></li>
    </ol>
</div>
