@{
    ViewData["Title"] = "Home Page";
}
@model List<MVCProject.Models.NhanVien>

<div class="container text-center">
    <h2>QUẢN LÝ NHÂN VIÊN</h2>
    <div class="list-group">
        <a href="/Staff/index" class="list-group-item list-group-item-action">DANH SÁCH NHÂN VIÊN</a>
        <a href="/Staff/report" class="list-group-item list-group-item-action">THỐNG KÊ NHÂN VIÊN</a>
    </div>
</div>
