@{
    ViewData["Title"] = "Thông Tin";
}
<h1>@ViewData["Title"]</h1>

<p>...</p>
 <button type="button" class="btn btn-success" onclick="waitingDialog.show('Custom message');setTimeout(function () {waitingDialog.hide();}, 2000);">Show dialog</button>