@using MVCProject.Controllers
@{
    ViewData["Title"] = "Danh Sách Phòng Ban";
}
@{ 
    var itemPerPage = ViewBag.itemPerPage;
}

<div>
    <div>
        <input id="SearchBox" type="search" class="form-control rounded" placeholder="Từ Khóa Cần Tìm" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <h1>Danh Sách Phòng Ban</h1>
</div>
<div>
        <button class="btn btn-success " onclick="showInPopup('@Url.Action("create","Department",null,Context.Request.Scheme)','THÊM PHÒNG BAN')"><i class="fas fa-plus"></i> Thêm Phòng Ban</button>
</div>
<br />  
<table  class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="text-align: center;max-width:80px">
                ID Phòng
            </th >
            <th style="text-align: center;">
                Tên
            </th>
            <th style="text-align: center;">
                Tùy Chọn
            </th>
        </tr>
    </thead>
    <tbody id="departmentTable">   
        </tbody>
</table>

<div id="pagenav">
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/department/index.js"></script>
}
