@model MVCProject.Models.NhanVien
@using MVCProject.Controllers

@{
    ViewData["Title"] = "Thêm Mới Nhân Viên";
}

<h1>Thêm Nhân Viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="CreateForm" asp-action="create" asp-controller="staff" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maNhanVien" class="control-label"></label>
                @{
                    var maNhanVien = ViewBag.LastStaffId;
                }
                <input name="MaNhanVien" value="@maNhanVien" class="form-control" disabled />
                <input name="maNhanVien" value="@maNhanVien" hidden />

                <span asp-validation-for="maNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hoTen" class="control-label"></label>
                <input asp-for="hoTen" class="form-control" />
                <span asp-validation-for="hoTen" class="text-danger"></span>

            </div>
            <p id="ErrorMgs" style="color:red;"></p>
            <div class="form-group">
                <label asp-for="ngaySinh" class="control-label"></label>
                <input asp-for="ngaySinh" class="form-control" type="date" />
                <span asp-validation-for="ngaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soDienThoai" class="control-label"></label>
                <input asp-for="soDienThoai" class="form-control" />
                <span asp-validation-for="soDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diaChi" class="control-label"></label>
                <input asp-for="diaChi" class="form-control" />
                <span asp-validation-for="diaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chucVu" class="control-label"></label>
                <input asp-for="chucVu" class="form-control" />
                <span asp-validation-for="chucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soNamCongTac" class="control-label"></label>
                <input asp-for="soNamCongTac" class="form-control" />
                <span asp-validation-for="soNamCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm Mới" class="btn btn-success" id="SubmitBtn" disabled />
            </div>
        </form>

    </div>
</div>
<a asp-action="Index">Hủy Bỏ</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/staff/create.js"></script>
}
