@model MVCProject.Models.NhanVien
@using MVCProject.Controllers

@{
    ViewData["Title"] = "Thêm Mới Nhân Viên";
    Layout = "_LayoutWithoutNav";
}

<div class="row justify-content-center align-items-center" id="FormContainer">
    <div class="col-md-12">
        <form id="CreateForm" asp-action="create" asp-controller="staff" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                @{
                    var MaNhanVien = ViewBag.LastStaffId;
                }
                <input name="maNhanVien" value="@MaNhanVien" class="form-control" disabled />
                <input name="MaNhanVien" id="MaNhanVien" value="@MaNhanVien" hidden />

                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>

            </div>
            <p id="ErrorMgs" style="color:red;"></p>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" type="date" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNamCongTac" class="control-label"></label>
                <input asp-for="SoNamCongTac" class="form-control" />
                <span asp-validation-for="SoNamCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="SubmitBtn" disabled>Thêm Mới</button>
                <button class="btn btn-success" type="submit" id="SavingtBtn" disabled hidden>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Đang Lưu...
                </button>
            </div>
        </form>

    </div>
</div>

<div>
    <a href="#" data-dismiss="modal">Trở Lại Danh Sách</a>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/staff/create.js"></script>
}
