@model MVCProject.Models.NhanVien

@{
    ViewData["Title"] = "Sửa Nhân Viên";
    Layout = "_LayoutWithoutNav";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="EditForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input name="MaNhanVien" value="@Model.MaNhanVien" class="form-control" disabled />
                <input asp-for="MaNhanVien" class="form-control" hidden />

                <span asp-validation-for="MaNhanVien" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
                <p id="ErrorMgs" style="color:red;"></p>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" type="date" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNamCongTac" class="control-label"></label>
                <input asp-for="SoNamCongTac" class="form-control" />
                <span asp-validation-for="SoNamCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongBan_Id" class="control-label"></label>
                <select asp-for="PhongBan_Id" class="custom-select"  asp-items="@(new SelectList(@ViewBag.dsPhongBan,"id","TenPhongBan"))">
                    <option selected>Chọn Phòng Ban</option>
                    
                </select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-success" id="SubmitBtn" />
                <button class="btn btn-success" type="submit" id="SavingtBtn" disabled hidden>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Đang Lưu...
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="#" data-dismiss="modal">Trở Lại Danh Sách</aref="#">
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/staff/edit.js"></script>
}
