@model List<MVCProject.Models.NhanVien>
@using MVCProject.Controllers
@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
}
@{ 
    var itemPerPage = ViewBag.itemPerPage;
}
<button class="btn btn-success " onclick="showInPopup('@Url.Action("create","staff",null,Context.Request.Scheme)','THÊM NHÂN VIÊN')"><i class="fas fa-plus"></i> Thêm Nhân Viên</button>
<br />
<br />
<div>
    <div>
        <input id="SearchBox" type="search" class="form-control rounded" placeholder="Tên Hoặc Địa Chỉ Cần Tìm" aria-label="Search" aria-describedby="search-addon" />
        <br />
        <select class="custom-select" style="width:25vw;">
            <option value="0" selected>-- Chức Vụ--</option>
        </select>
        <div class="input-group mb-3  float-right" style="width:30vw">
        <div class="input-group-prepend">
            <select class="custom-select" style="width:7vw;">
                <option value="0" selected>-- So Sánh --</option>
                <option value="=" >=</option>
                <option value="=>" >>=</option>
                <option value="<=" ><=</option>
                <option value=">" >></option>
                <option value="<=>" ><</option>
            </select>
        </div>
        <input type="number" class="form-control" id="soNamCongTac" placeholder="Số Năm Công Tác">
        </div>
    </div>
    <br />
    <h1>Danh Sách Nhân Viên</h1>
</div>
<div>
        <select class="custom-select" id="chonPhongBan" style="width:20vw;" asp-items="@(new SelectList(@ViewBag.dsPhongBan,"id","TenPhongBan"))">
            <option value="0" selected>-- Tất Cả --</option>
        </select>
        <button class="btn btn btn-outline-success float-right" id="excelExport"><i class="fas fa-file-excel"></i> Xuất File Excel</button>
        
</div>
<br />
<table  class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                MNV
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Số năm công tác
            </th>
            <th>
                Tùy Chọn
            </th>
        </tr>
    </thead>
    <tbody id="StaffTable">   
        </tbody>
</table>

<div id="pagenav">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/staff/index.js"></script>
}
