@using MVCProject.Controllers
@{
   Layout = "_LayoutWithoutNav";
   var currentPage = (string)@ViewBag.currentPage;
       var pageNunber = (int)ViewBag.pageNumber;
}
<input type="number" id="pageNumber" value="@pageNunber" hidden />
<input type="text" id="currentPage" value="@currentPage" hidden />
<nav aria-label="Page navigation">
        <ul class="pagination pagination-lg justify-content-center" id="listPage">
            <li class="page-item " id="startList">
                <a class="page-link " tabindex="-1" ><i class="fas fa-backward"></i></a>
            </li>
            <li class="page-item" id="endList">
                <a class="page-link" tabindex="-1"><i class="fas fa-forward" ></i></a>
            </li>
        </ul>
</nav>

<script src="~/js/staff/pagenav.js"></script>